$bg: #1a1b26;
$fg: #c0caf5;
$accent: #7aa2f7;

* { 
  all: unset; 
  font-family: "JetBrainsMono Nerd Font";
}

.bar {
  background-color: $bg;
  color: $fg;
  padding: 4px 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.workspaces {
  button {
    padding: 0 8px;
    border-radius: 4px;
    
    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      color: $accent;
    }
  }
}

.music {
  color: #bb9af7;
  font-weight: bold;
}

.sidestuff {
  color: $accent;
}
